/* ============================================= PRIMARY LAYOUT ================================================ */
body {
  background-attachment: fixed;
  background-image: url(../pictures/interface/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #040814;
  width: 100%;
}

header {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
  align-items: center;
}

.main-container {
  width: 90%;
  padding: 80px;
  margin: 0 auto;
  background-color: rgba(10, 10, 10, 0.9);
  border-radius: 10px;
}
.main-container--text-centered {
  color: #EAE8E3;
  font-family: "Tangerine";
  font-size: 5.5rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: center;
}

.footer {
  padding: 20px 80px 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgba(10, 10, 10, 0.9);
}

section {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
}

/* ============================================= SECONDARY LAYOUT ================================================ */
.main-nav {
  width: 85%;
  text-align: right;
}
.main-nav__list {
  margin: 0;
}
.main-nav__list-item {
  list-style-type: none;
  display: inline-block;
  margin: 1%;
}
.main-nav__icon-menu {
  display: none;
}

.logo {
  width: 15%;
}

.separators {
  width: 100%;
  text-align: center;
}
.separators__image {
  width: 60%;
}

.grid {
  display: grid;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  grid-template-columns: repeat(7, 14% [col-start]);
  grid-template-rows: repeat(4, 24% [row-start]);
}
.grid__image {
  width: 100%;
}
.grid__item {
  margin: 5px;
}
.grid__item-a {
  grid-column-start: 3;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 2;
}
.grid__item-b {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 2;
}
.grid__item-c {
  grid-column-start: 3;
  grid-row-start: 3;
}
.grid__item-d {
  grid-column-start: 4;
  grid-column-end: span 3;
  grid-row-start: 3;
  grid-row-end: span 2;
}
.grid__item-e {
  grid-column-start: 6;
  grid-row-start: 2;
}
.grid__item-f {
  grid-column-start: 7;
  grid-row-start: 2;
  grid-row-end: span 2;
}

/* ============================================= TERTIARY LAYOUT ================================================ */
.secondary-section {
  padding: 30px;
}
.secondary-section__banner {
  width: 100%;
  background-color: rgba(80, 120, 254, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 30px 0 30px 0;
}
.secondary-section__cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 30px 0 30px 0;
}
.secondary-section__items {
  text-align: center;
}
.secondary-section__items--images {
  width: 15%;
}

.textual-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs {
  border-radius: 20px;
  height: 30px;
  width: 200px;
  margin: 30px;
  color: #040814;
  font-family: "Cormorant";
  font-size: 1.6rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: left;
}

.statistics {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
}
.statistics__items {
  flex-grow: 1;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.statistics__itemnized-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}
.statistics__image {
  width: 100%;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}
.cards__items {
  flex-grow: 1;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  border: 25px solid transparent;
  border-image: url(../pictures/interface/SquareBorderGold.png) 60 stretch;
  margin: 20px;
}
.cards__picture {
  border-radius: 40px;
}

.form {
  position: absolute;
  text-align: left;
  background-color: #040814;
  padding: 15px;
  width: 30%;
  top: 50px;
  border-radius: 30px;
  right: 20px;
}
.form__name-entry {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}
.form__inputs {
  width: 100%;
  border-radius: 10px;
  height: 40px;
  margin: 30px;
  color: #040814;
  font-family: "Cormorant";
  font-size: 1.6rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: left;
  outline: 0;
}
.form__inputs--success {
  border-color: #68B940;
}
.form__inputs--error {
  color: #C03F1F;
}
.form__textarea {
  width: 100%;
  border-radius: 10px;
  height: 150px;
  margin: 30px;
  color: #040814;
  font-family: "Cormorant";
  font-size: 1.6rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: left;
  outline: 0;
}
.form__error-message {
  color: #C03F1F;
  font-family: "Cormorant";
  font-size: 1.3rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: left;
}
.form__success-message {
  color: #68B940;
  font-family: "Cormorant";
  font-size: 1.3rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: left;
}

.map {
  height: 100%;
  width: 100%;
  text-align: center;
}
.map__image {
  width: 100%;
}

.endPage-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  width: 40%;
  margin-top: 50px;
}

/* ============================================= TEXT RELATED ================================================ */
h1 {
  color: #EAE8E3;
  font-family: "Tangerine";
  font-size: 5.5rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: left;
}

.header-2 {
  color: #EAE8E3;
  font-family: "Tangerine";
  font-size: 4.5rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: left;
}
.header-2--BigAndImportant {
  color: #C03F1F;
  font-family: "Tangerine";
  font-size: 8.5rem;
  margin: 90px;
  font-weight: 600;
  text-align: center;
}
.header-2--centered {
  color: #EAE8E3;
  font-family: "Tangerine";
  font-size: 4.5rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: center;
}

.header-3 {
  color: #EAE8E3;
  font-family: "Philosopher";
  font-size: 2.5rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: left;
}
.header-3--centered {
  color: #EAE8E3;
  font-family: "Philosopher";
  font-size: 2.5rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: center;
}

.header-4 {
  color: #EAE8E3;
  font-family: "Philosopher";
  font-size: 2.1rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: left;
}
.header-4--centered {
  color: #EAE8E3;
  font-family: "Philosopher";
  font-size: 2.1rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: center;
}

h5, h6 {
  color: #EAE8E3;
  font-family: "CrimsonText";
  font-size: 2rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: left;
}

.paragraphs {
  color: #EAE8E3;
  font-family: "Cormorant";
  font-size: 1.6rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: left;
}
.paragraphs--centered {
  color: #EAE8E3;
  font-family: "Cormorant";
  font-size: 1.6rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: center;
}
.paragraphs--centeredTiny {
  color: #EAE8E3;
  font-family: "Cormorant";
  font-size: 1.3rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: center;
}
.paragraphs--icons {
  color: #C03F1F;
  font-family: "Cormorant";
  font-size: 3.3rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: center;
}
.paragraphs--tiny {
  color: #EAE8E3;
  font-family: "Cormorant";
  font-size: 1.3rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: left;
}

.links {
  color: #68B940;
  font-family: "Cormorant";
  font-size: 1.6rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: left;
  text-decoration: underline;
  font-style: normal;
}
.links:hover {
  color: #C2EB3B;
  font-family: "Cormorant";
  font-size: 1.6rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: left;
  text-decoration: underline overline;
  font-style: normal;
}
.links--main-nav {
  color: #68B940;
  font-family: "Cormorant";
  font-size: 1.6rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: left;
  text-decoration: none;
  font-style: normal;
}
.links--main-nav:hover {
  color: #C2EB3B;
  font-family: "Cormorant";
  font-size: 1.6rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: left;
  text-decoration: underline overline;
  font-style: normal;
}
.links--screen-reader {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}
.links--socials {
  color: #68B940;
  font-family: "Cormorant";
  font-size: 2.6rem;
  margin: 10px;
  font-weight: 600;
  text-align: left;
  text-decoration: none;
  font-style: normal;
}
.links--socials:hover {
  color: #C2EB3B;
  font-family: "Cormorant";
  font-size: 2.6rem;
  margin: 10px;
  font-weight: 600;
  text-align: left;
}

@font-face {
  font-family: "Philosopher";
  src: url("fonts/Philosopher/Philosopher-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Cormorant";
  src: url("fonts/Cormorant/static/Cormorant-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "CrimsonText";
  src: url("fonts/Crimson_Text/CrimsonText-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Sedan";
  src: url("fonts/Sedan/Sedan-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Tangerine";
  src: url("fonts/Tangerine/Tangerine-Regular.ttf") format("truetype");
}
/* ============================================= SALIENT FEATURES ================================================ */
.legend-carousel {
  position: relative;
  margin-top: 60px;
  margin-bottom: 90px;
}
.legend-carousel--intro {
  color: #EAE8E3;
  font-family: "Cormorant";
  font-size: 2.6rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: center;
}
.legend-carousel__controls {
  padding: 0;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  font-size: 2.5rem;
  cursor: pointer;
  transition: opacity 0.15s ease;
  display: flex;
  align-items: center;
  padding: 30px;
}
.legend-carousel__controls:hover {
  opacity: 1;
}
.legend-carousel__captions {
  color: #fff;
}
.legend-carousel__captions--text-centered {
  color: #EAE8E3;
  font-family: "Cormorant";
  font-size: 1.6rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: center;
}
.legend-carousel__item {
  position: relative;
  display: none;
  width: 100%;
  transition: transform 0.6s ease-in-out;
}
.legend-carousel__item--active {
  display: block;
  transition: none;
}
.legend-carousel__item--pictures {
  width: 100%;
  max-height: 80vh;
}
.legend-carousel__inner {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.legend-carousel__inner--centered {
  text-align: center;
}
.legend-carousel__indicators {
  position: absolute;
  right: 0;
  bottom: -50px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
}
.legend-carousel__buttons {
  width: 30px;
  height: 5px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  background-color: #fff;
  background-clip: padding-box;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
.legend-carousel__buttons--active {
  opacity: 1 !important;
}

.buttons {
  display: inline;
  cursor: pointer;
}
.buttons .buttons__inner::after, .buttons .buttons__inner::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 31PX;
  height: 62px;
  z-index: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.buttons .buttons__inner {
  background-position: center;
  background-size: 100% 62px;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  z-index: 2;
  height: 62px;
  min-width: 172px;
}
.buttons__inner {
  background-image: url(../../pictures/interface/buttons_Middle.png);
}
.buttons__inner::before {
  background-image: url(../../pictures/interface/Buttons_Left.png);
  right: 100%;
}
.buttons__inner::after {
  background-image: url(../../pictures/interface/Buttons_Right.png);
}
.buttons__inner:hover {
  background-image: url(../../pictures/interface/Buttons_Hover_Middle.png) !important;
}
.buttons__inner:hover::before {
  background-image: url(../../pictures/interface/Buttons_Hover_Left.png) !important;
  right: 100%;
}
.buttons__inner:hover::after {
  background-image: url(../../pictures/interface/Buttons_Hover_Right.png) !important;
}
.buttons__text {
  display: inline-block;
  color: #EAE8E3;
  font-family: "Cormorant";
  font-size: 2.6rem;
  margin: -35px 0 10px 0;
  font-weight: 600;
  text-align: center;
  min-width: 172px;
  padding: 0 15px 0 15px;
}
.buttons--marginLeft-50px {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}
.buttons--statistics {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

input[type=submit] {
  color: #EAE8E3;
  font-family: "Cormorant";
  font-size: 1.6rem;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-align: left;
  background-color: #040814;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #5078FE;
  cursor: pointer;
}
input[type=submit]:hover {
  border: 2px solid #EBD531;
}

@media screen and (max-width: 1500px) {
  .cards {
    display: block;
  }
  .form {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
  }
  .form__name-entry {
    display: block;
  }
}
@media screen and (max-width: 910px) {
  .textual-input {
    display: block;
  }
  header {
    width: 100%;
  }
  .main-container {
    padding: 20px;
    max-width: 100%;
  }
  .main-nav {
    width: 100%;
  }
  .main-nav__list {
    display: none;
  }
  .main-nav__icon-menu {
    display: block;
    text-align: right;
    margin-right: 20px;
  }
  .main-nav__icon-menu:hover {
    text-align: right;
  }
  .logo {
    width: 50%;
    margin-left: 10px;
  }
  .statistics {
    display: block;
  }
  .secondary-section__banner {
    display: block;
  }
  .secondary-section__cards {
    display: block;
  }
  .endPage-links {
    display: block;
  }
  .footer {
    max-width: calc(100vw - 20px);
    display: block;
    padding: 10px;
  }
}