/* ============================================= COLORS ================================================ */

$white: #fff;
$platinum:#EAE8E3;
$richBlack:#040814;
$night90: rgba(10, 10, 10, 0.90);
$citrine:#EBD531;
$kellyGreen:#68B940;
$pear:#C2EB3B;
$rust:#C03F1F;
$blue:#5078FE;