@use 'mixin' as *;
@use 'colors' as color;

@media screen and (max-width:1500px)
{
    .cards
    {
        display:block;
    }
    .form
    {
        position:relative;
        width:100%;
        margin-bottom:50px;
        &__name-entry
        {
            display:block;
        }
    }
}
@media screen and (max-width:910px)
{
    .textual-input
    {
        display:block;
    }
    header
    {
        width:100%;
    }
    .main-container
    {
        padding:20px;
        max-width:100%;
    }
    .main-nav
    {
        width:100%;
        &__list
        {
            display:none;
        }
        
        &__icon-menu
        {
            display:block;
            text-align:right;
            margin-right:20px;
            &:hover
            {
                text-align:right;
            }
        }
    }
    .logo
    {
        width:50%;
        margin-left:10px;
    }
    .statistics
    {
        display:block;
    }
    .secondary-section
    {
        &__banner
        {
            display:block;
        }
        &__cards
        {
            display:block;
        }
    }
    .endPage-links
    {
        display:block;
    }
    .footer
    {
        max-width:calc(100vw - 20px);
        display:block;
        padding:10px;
    }
}