
@use 'colors' as color;

@mixin navigation($decoration: underline, $fontStyle: normal)
{
    text-decoration: $decoration;
    font-style: $fontStyle;
}

@mixin texts($color: color.$platinum, $fontFamily: "Cormorant", $fontSize:1.6rem, $textAlign:left, $margin:10px 0 10px 0)
{
    color:$color;
    font-family: $fontFamily;
    font-size:$fontSize;
    margin:$margin;
    font-weight: 600;
    text-align: $textAlign;
}

@mixin width($width: 100%)
{
    width:$width;
}

@mixin margin($marginTop:20px, $marginLeft:20px, $marginRight:20px, $marginBottom:20px)
{
    margin-top:$marginTop;
    margin-left:$marginLeft;
    margin-right:$marginRight;
    margin-bottom:$marginBottom;
}

@mixin viewportHeight($height: 100vh)
{
    height:$height;
}

@mixin viewportHeight-max($height: 100vh)
{
    max-height:$height;
}

@mixin flexContainer($display:flex,$justifyContent:space-around,$flexWrap:nowrap,$flexDirection:row,$alignItems:center,$margin:0 auto)
{
    display: $display;
    justify-content:$justifyContent;
    flex-wrap:$flexWrap;
    flex-direction:$flexDirection;
    align-items:$alignItems;
    margin:$margin;
}

@mixin flexContainer__items($flexGrow:1)
{
    flex-grow: $flexGrow;
}