
/* ============================================= PRIMARY LAYOUT ================================================ */
@use 'colors' as color;
@use 'mixin' as *;

body
{
    background-attachment:fixed;
    background-image:url(../pictures/interface/background.png);
    background-position:center;	
    background-repeat: no-repeat;
    background-size: cover;
    background-color:color.$richBlack;
    width:100%;
}

header
{
    width:90%;
    display:flex;
    margin:0 auto;
    justify-content:space-between;
    padding-bottom:20px;
    padding-top:20px;
    align-items:center;
}  

.main-container
{
    width:90%;
    padding:80px;
    margin:0 auto;
    background-color:color.$night90;
    border-radius:10px;

    &--text-centered
    {
        @include texts($textAlign:center, $fontFamily: "Tangerine", $fontSize:5.5rem);
    }
}

.footer
{
    padding:20px 80px 20px 80px ;
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    margin:0 auto;
    margin-top:30px;
    margin-bottom:30px;
    background-color:color.$night90;
}

section
{
    text-align:center;
    margin-top:40px;
    margin-bottom:40px;
    position:relative;
}