
/* ============================================= PRIMARY LAYOUT ================================================ */
@use 'colors' as color;


body
{
    background-attachment:fixed;
    background-image:url(../pictures/interface/background.png);
    background-position:center;	
    background-repeat: no-repeat;
    background-size: cover;
    background-color:color.$richBlack;
}

header
{
    text-align:center;
    width:100%;
    display:flex;
    justify-content:space-between;
    padding-left:50px;
    padding-bottom:20px;
    padding-top:20px;
}  

main
{
    width:90%;
    padding:80px;
    margin:0 auto;
    background-color:color.$night90;
    border-radius:10%;
}