/* ============================================= SECONDARY LAYOUT ================================================ */
@use 'colors' as color;
@use 'mixin' as *;

.main-nav
{
    width:85%;
    text-align:right;
    &__list
    {
        margin:0;
    }
    &__list-item
    {
        list-style-type: none;
        display:inline-block;
        margin:1%;
    }
}

.logo
{
    width:15%;
}

.separators
{
    width:100%;
    text-align:center;

    &__image
    {
        @include width($width:60%);
    }
}