/* ============================================= TERTIARY LAYOUT ================================================ */
@use 'colors' as color;
@use 'mixin' as *;

.secondary-section
{
    padding:30px;

    &__banner
    {
        width:100%;
        background-color:color.$blue60;
        display:flex;
        align-items:center;
        justify-content:space-around;
        padding:10px;
        margin:30px 0 30px 0;
    }

    &__cards
    {
        width:100%;
        display:flex;
        align-items:center;
        justify-content:space-around;
        padding:10px;
        margin:30px 0 30px 0;
    }
    &__items
    {
        text-align:center;
        &--images
        {
            @include width($width: 15%);
        }
    }
}
.textual-input
{
    display:flex;
    justify-content:center;
    align-items:center;
}
.inputs
{
    border-radius:20px;
    height:30px;
    width:200px;
    margin:30px;
    @include texts($color: color.$richBlack);
}

.statistics
{
    @include flexContainer();
    @include width();
    @include margin($marginBottom:60px);

    &__items
    {
        @include flexContainer__items();
        @include margin();
        text-align:center;
    }
    &__itemnized-list
    {
        @include flexContainer($justifyContent:flex-start);
        @include width();
        @include margin($marginTop:80px, $marginBottom:40px);
    }
    &__image
    {
        @include width();
    }
}

.cards
{

    @include flexContainer();

    &__items
    {
        @include flexContainer__items();
        @include margin();
        text-align:center;
        padding:20px;
        border:25px solid transparent;
        border-image: url(../pictures/interface/SquareBorderGold.png) 60 stretch;
        margin:20px;
    }
    &__picture
    {
        border-radius:40px;
    }
}
.form
{
    position:absolute;
    text-align:left;
    background-color:color.$richBlack;
    padding:15px;
    width:30%;
    top:50px;
    border-radius:30px;
    right:20px;

    &__name-entry
    {
        @include flexContainer();
    }
    &__inputs
    {
        width:100%;
        border-radius:10px;
        height:40px;
        margin:30px;
        @include texts($color: color.$richBlack);
        outline:0;
        &--success
        {
            border-color:color.$kellyGreen;
        }
        &--error
        {
            color:color.$rust
        }
    }
    &__textarea
    {
        width:100%;
        border-radius:10px;
        height:150px;
        margin:30px;
        @include texts($color: color.$richBlack);
        outline:0;
    }
    &__error-message
    {
        @include texts($color: color.$rust, $fontSize:1.3rem);
    }
    &__success-message
    {
        @include texts($color: color.$kellyGreen, $fontSize:1.3rem);
    }
}
.map
{
    height:75vh;
    overflow:hidden;
    @include width();
    text-align:center;
    &__image
    {
        @include width();
        margin-top:-200px;
        
    }
}

.endPage-links
{
    @include flexContainer();
    @include width($width:40%);
    margin-top:50px;
}

