/* ============================================= TEXT RELATED ================================================ */
@use 'colors' as color;
@use 'mixin' as *;

h1
{
    @include texts($fontFamily: "Tangerine", $fontSize:5.5rem);
}
h2
{
    @include texts($fontFamily: "Tangerine", $fontSize:4.5rem);
}
h3
{
    @include texts($fontFamily: "Philosopher", $fontSize:2.5rem);;
}
h4
{
    @include texts($fontFamily: "Philosopher", $fontSize:2.1rem);
}
h5, h6
{
    @include texts($fontFamily: "CrimsonText", $fontSize:2rem);
}

p
{
    @include texts();
}

.links
{
    @include texts($color: color.$kellyGreen);
    @include navigation();
    
    &:hover
    {
        @include texts($color: color.$pear);
        @include navigation($decoration: underline overline);
    }
    &--main-nav
    {
        @include texts($color: color.$kellyGreen);
        @include navigation($decoration: none);
    }
    &--main-nav:hover
    {
        @include texts($color: color.$pear);
        @include navigation($decoration: underline overline);
    }
}

@font-face 
{
    font-family: "Philosopher";
    src: url('fonts/Philosopher/Philosopher-Regular.ttf') format('truetype');
}

@font-face 
{
    font-family: "Cormorant";
    src: url('fonts/Cormorant/static/Cormorant-Regular.ttf') format('truetype');
}

@font-face 
{
    font-family: "CrimsonText";
    src: url('fonts/Crimson_Text/CrimsonText-Regular.ttf') format('truetype');
}

@font-face 
{
    font-family: "Sedan";
    src: url('fonts/Sedan/Sedan-Regular.ttf') format('truetype');
}

@font-face 
{
    font-family: "Tangerine";
    src: url('fonts/Tangerine/Tangerine-Regular.ttf') format('truetype');
}
